body {
  margin: 0;
  padding: 0;
  background-color: #C4CDBC;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.navbar .logo {
  float: left;
  padding: 10px;
}

.navbar nav {
  float: right;
  padding-top: 50px;
}

.navbar nav a {
  position: relative;
  text-decoration: none;
  color: white;
  margin-right: 110px;
  font-size: large;
  transition: color 0.2s ease;
}

.navbar nav a:hover {
  color: green;
}

.navbar nav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: green;
  transition: width 0.3s ease;
}

.navbar nav a:hover::after {
  width: 100%;
}

.theme {
  height: 100vh;
  background-image: url("Theme.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 2px 5px 10px black; 
}


.contact-container {
  background-color: #f0f0f0;
  padding: 50px;
  margin: 100px auto;
  width: 50%;
  box-shadow: -1px 1px  10px grey;
  border-radius: 10px;
  
}

.contact-container h2 {
  text-align: center;
  color: #2e7d32;
  margin-bottom: 30px;
}

.contact-container p{
  text-align: center;
  color: #2e7d32;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;

}

.contact-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-container input, .contact-container textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  
}

.contact-container input:focus, .contact-container textarea:focus {
  border-color: #2e7d32;
}

.contact-container button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
}

.contact-container .submit {
  background-color: #2e7d32;
  margin-right: 10px;
}

.contact-container .reset {
  background-color: #757575;
}

.contact-container .btn {
  display: inline;
  
}
